<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjy.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.zjy.pojo.User">
        insert into user (id, name, pwd) values (#{id}, #{name}, #{pwd});
    </insert>

    <insert id="addUser">
        insert into user (name, pwd) values (#{userName}, #{passWord});
    </insert>

    <update id="updateUser" parameterType="com.zjy.pojo.User">
        update user set name = #{name}, pwd = #{pwd} where id = #{id};
    </update>

    <delete id="deleteUser">
        delete from user where id = #{idd};
    </delete>

    <select id="getUserList" resultType="com.zjy.pojo.User">
        select * from user;
    </select>
    <select id="getUserById" parameterType="int" resultType="com.zjy.pojo.User">
        select * from user where id = #{id};
    </select>

    <select id="getUserLike" resultType="com.zjy.pojo.User">
        select * from user where name like #{value}
    </select>
</mapper>